*.pt filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.tfrecord filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tar.gz filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
/nvidia/Accelerate[[:space:]]Data[[:space:]]Science[[:space:]]Workflows[[:space:]]with[[:space:]]Zero[[:space:]]Code[[:space:]]Changes/nyc_parking_violations_2022.parquet filter=lfs diff=lfs merge=lfs -text
/nvidia/Generative[[:space:]]AI[[:space:]]Explained/1.[[:space:]]Generative[[:space:]]AI[[:space:]]Explained[[:space:]](vid).7z filter=lfs diff=lfs merge=lfs -text
/nvidia/Generative[[:space:]]AI[[:space:]]Explained/2.[[:space:]]Applications[[:space:]]of[[:space:]]Generative[[:space:]]AI[[:space:]]-[[:space:]]Language[[:space:]](vid).7z filter=lfs diff=lfs merge=lfs -text
/nvidia/Generative[[:space:]]AI[[:space:]]Explained/3.[[:space:]]Applications[[:space:]]of[[:space:]]Generative[[:space:]]AI[[:space:]]-[[:space:]]Other[[:space:]]Modalities[[:space:]](vid).7z filter=lfs diff=lfs merge=lfs -text
/nvidia/Generative[[:space:]]AI[[:space:]]Explained/4.[[:space:]]Challenges[[:space:]]and[[:space:]]Opportunities[[:space:]]of[[:space:]]Generative[[:space:]]AI[[:space:]](vid).7z filter=lfs diff=lfs merge=lfs -text
/nvidia/Generative[[:space:]]AI[[:space:]]with[[:space:]]Diffusion[[:space:]]Models/1[[:space:]]From[[:space:]]U-Nets[[:space:]]to[[:space:]]Diffusion/From[[:space:]]U-Nets[[:space:]]to[[:space:]]Diffusion[[:space:]](vid).7z filter=lfs diff=lfs merge=lfs -text
/nvidia/Generative[[:space:]]AI[[:space:]]with[[:space:]]Diffusion[[:space:]]Models/2[[:space:]]Denoising[[:space:]]Diffusion[[:space:]]Probabilistic[[:space:]]Models/Denoising[[:space:]]Diffusion[[:space:]]Probabilistic[[:space:]]Models[[:space:]](vid).7z filter=lfs diff=lfs merge=lfs -text
/nvidia/Generative[[:space:]]AI[[:space:]]with[[:space:]]Diffusion[[:space:]]Models/6[[:space:]]Wrap-up/Wrap-up[[:space:]](vid).mp4 filter=lfs diff=lfs merge=lfs -text
/nvidia/Getting[[:space:]]Started[[:space:]]with[[:space:]]Deep[[:space:]]Learning/1[[:space:]]An[[:space:]]Introduction[[:space:]]to[[:space:]]Deep[[:space:]]Learning/An[[:space:]]Introduction[[:space:]]to[[:space:]]Deep[[:space:]]Learning[[:space:]](vid).7z filter=lfs diff=lfs merge=lfs -text
/nvidia/Getting[[:space:]]Started[[:space:]]with[[:space:]]Deep[[:space:]]Learning/1[[:space:]]An[[:space:]]Introduction[[:space:]]to[[:space:]]Deep[[:space:]]Learning/data/asl_data/sign_mnist_train.csv filter=lfs diff=lfs merge=lfs -text
/nvidia/Getting[[:space:]]Started[[:space:]]with[[:space:]]Deep[[:space:]]Learning/2[[:space:]]The[[:space:]]Theory[[:space:]]Behind[[:space:]]Neural[[:space:]]Networks/The[[:space:]]Theory[[:space:]]Behind[[:space:]]Neural[[:space:]]Networks[[:space:]](vid).7z filter=lfs diff=lfs merge=lfs -text
/nvidia/Getting[[:space:]]Started[[:space:]]with[[:space:]]Deep[[:space:]]Learning/2[[:space:]]The[[:space:]]Theory[[:space:]]Behind[[:space:]]Neural[[:space:]]Networks/data/asl_data/sign_mnist_train.csv filter=lfs diff=lfs merge=lfs -text
/nvidia/Getting[[:space:]]Started[[:space:]]with[[:space:]]Deep[[:space:]]Learning/3[[:space:]]Convolutional[[:space:]]Neural[[:space:]]Networks/Convolutional[[:space:]]Neural[[:space:]]Networks[[:space:]](vid).7z filter=lfs diff=lfs merge=lfs -text
/nvidia/Getting[[:space:]]Started[[:space:]]with[[:space:]]Deep[[:space:]]Learning/3[[:space:]]Convolutional[[:space:]]Neural[[:space:]]Networks/data/asl_data/sign_mnist_train.csv filter=lfs diff=lfs merge=lfs -text
/nvidia/Getting[[:space:]]Started[[:space:]]with[[:space:]]Deep[[:space:]]Learning/4[[:space:]]Data[[:space:]]Augmentation[[:space:]]and[[:space:]]Deployment/data/asl_data/sign_mnist_train.csv filter=lfs diff=lfs merge=lfs -text
/nvidia/Getting[[:space:]]Started[[:space:]]with[[:space:]]Deep[[:space:]]Learning/7[[:space:]]Wrap-up[[:space:]]and[[:space:]]Assessment/Wrap-up[[:space:]]and[[:space:]]Assessment[[:space:]](vid).7z filter=lfs diff=lfs merge=lfs -text
/nvidia/Image[[:space:]]Segmentation[[:space:]]with[[:space:]]TensorFlow/Image[[:space:]]Segmentation[[:space:]]with[[:space:]]TensorFlow[[:space:]](vid).7z filter=lfs diff=lfs merge=lfs -text
/nvidia/Image[[:space:]]Segmentation[[:space:]]with[[:space:]]TensorFlow/data/train_images.tfrecords filter=lfs diff=lfs merge=lfs -text
